@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Main styles */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  background-color: #090a0d;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

/* Header styles */
header {
  height: 100vh;
}

header video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* Navigation styles */

header section {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, .3);  
  position: fixed;
  top: 0;
  z-index: 999;
  
}

.main-nav {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav .logo {
  font-size: 1.6rem;
  font-style: italic;
}

.main-nav nav ul {
  display: flex;
  justify-content: space-around;
  width: 350px;
}

.main-nav nav ul li a {
  transition: all ease-in-out .2s;
  font-size: 1rem;
  text-transform: uppercase;
}

.main-nav nav ul li a:hover{
  color: #ff0040;
  transition: all ease-in-out .2s;
}

.active {
  border-bottom: #ff0040 2px solid;
}

.active:hover {
  border-bottom: #fff 2px solid;;
}

.main-nav .login-btn {
  background-color: #ff0040;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  transition: all ease-in-out .3s;
}

.main-nav .login-btn:hover {
  background-color: #000;
  border: 1px solid white;
  transition: all ease-in-out .2s;
}

/* Section styles */
#series,
#movies {
  max-width: 1200px;
  margin: 100px auto;
}

#series {
  border-bottom: 2px solid #181b22;
  padding-bottom: 100px;
}

section .titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.section-title {
  font-size: 2.5rem;
}

.see-more {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: bold;
}

.see-more a {
  color: #ff0040;
  transition: all ease-in-out .2s;
}

.see-more a:hover {
  color: #666;
  transition: all ease-in-out .2s;
}

.articles {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

article {
  width: 25%;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}


.article-image {
  width: 90%;
  border-radius: 5px;
  transition: all ease-in-out .2s;
}

.article-image:hover {
  transform: scale(1.1);
  transition: all ease-in-out .2s;
}

.article-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 10px;
}

.article-title a {
  transition: all ease-in-out .2s;
}

.article-title a:hover {
  color: #666;
  transition: all ease-in-out .2s;
}

.article-details {
  display: flex;
  align-items: center;
}

.article-length {
  text-transform: uppercase;
  font-size: .7rem;
  color: #666;
  font-weight: bolder;
}

.article-length::after {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
}

.article-genre {
  text-transform: uppercase;
  font-size: .7rem;
  color: #666;
  font-weight: bolder;
}

/* Footer styles */

footer {
  background-color: #000;
  height: 100px;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Anime page style */
#anime-page {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 100px;
}

#anime-page .anime-title {
  text-align: center;
  font-size: 2.8rem;
}

#anime-page .anime-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

#anime-page img {
  width: 50%;
  border-radius: 20px;
}

#anime-page #anime-details {
  width: 45%;
  /* display: flex;
  flex-direction: column;
  align-items: start; */
}

#anime-page #anime-details .anime-heading {
  font-size: 2.3rem;
}

#anime-page #anime-details .anime-content {
  width: 100%;
  padding-left: 0px;
}

#anime-page #anime-details .anime-content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #666 solid;
}

#anime-page #anime-details .anime-content li .anime-info,
#anime-page #anime-details .anime-content li .anime-info-2 {
  font-size: .9rem;
  text-transform: uppercase;
  color: #666;
}


#anime-page #anime-details .anime-summary {
  font-size: 1.1rem;
}

